<div id="loading">
  <div class="loader"></div>
</div>

<div id="header" class="header">
  <div class="header__thumbnail"><%= image_tag(@channel.thumbnail_url) %></div>
  <div class="header__title-box">
    <h2>Youtube Channel</h2>
    <h1><%= @channel.title %></h1>
    <h3><%= @channel.description %></h3>
  </div>
  <div class="header__action-buttons">
    <div class="info-button-wrapper icon-button">
      <button class="search-button white-button" onclick="showSearch();">
        <i class='fas fa-search fa-2x'></i>
      </button>
      <button class="info-button white-button" onclick="toggleInfo(true);">
        <i class='fas fa-info fa-2x'></i>
      </button>
    </div>
  </div>
</div>

<div class="content">
  <div class="video-container">
    <% @videos.each_with_index do | video, index | %>
    <div id="video-box-<%= video.video_id %>" class="video-box">
      <div class="video-box__thumbnail">
        <%= link_to('#', target: '_blank', onclick: "showPlayerWithUrl('#{video.title}', '#{video.video_url_for_iframe}', '#{video.video_id}', '#{video.title} - #{@channel.title}'); return false;") do %>
          <%= image_tag(video.thumbnail_url) %>
        <% end %>
      </div>
      <div class="video-box__content">
        <h3 class="video-box__content__title"><%= video.title %></h3>
        <h4 class="video-box__content__description"><%= video.description.split("\n").first %></h4>
        <div class="video-box__content__marker-box">
          <% video.markers.each do | marker | %>
          <div class="video-box__content__marker-box__item marker-<%= marker.id %>">
            <%= link_to(marker.time_format, '#', onclick: "showPlayerWithUrl('#{marker.label}', '#{video_url_with_marker_for_iframe(video, marker)}', '#{video.video_id}', '#{video.title} - #{@channel.title}'); setSelectedMarker('#{marker.id}'); return false;") %>
            <%= marker.label %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div id="player-container" class="player-container overlay-panel">
  <div class="player-box overlay-panel__content">
    <h2 class='player-title'></h2>
    <div class="youtube-player-wrapper">
      <iframe id="youtube-player" type="text/html" frameborder="0" src='about:blank'></iframe>
    </div>
    <div class="player-markers">
      ここにマーカーが入ります。すごいね。
    </div>
    <div class="overlay-panel__close-button-wrapper icon-button">
      <button class="overlay-panel__close-button white-button" onclick="hidePlayer()">
        <i class='fas fa-times fa-2x'></i>
      </button>
    </div>
    <div class="player-bottom-note">
      Powered by <%= @channel.title %>
    </div>
  </div>
</div>

<div id="info-container" class="info-container overlay-panel">
  <div class="info-box overlay-panel__content">
    <h2>お知らせ</h2>
    <div class="update-area">

      <h3 class="update-area__title">更新情報</h3>
      <div class="update-area__items">
        <% Update.updates.each do | update | %>
          <div class="update-area__items__item">
            <div class="update-area__items__item__date">
              <%= update.date_to_human %>
            </div>
            <div class="update-area__items__item__description">
              <% update.content.each do | line | %>
                <p><%= line %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
    <div class="overlay-panel__close-button-wrapper icon-button">
      <button class="overlay-panel__close-button white-button" onclick="toggleInfo(false)">
        <i class='fas fa-times fa-2x'></i>
      </button>
    </div>
  </div>
</div>

<script type="text/javascript">

  window.addEventListener("resize", function(event) {
    optimizeSize();
  });

  window.addEventListener("scroll", function(event) {
    let header = document.querySelector('#header');
    if (window.scrollY > 0) {
      header.classList.add('header--min')
    } else {
      header.classList.remove('header--min')
    }
  });


  document.addEventListener('DOMContentLoaded', function() {
    toggleLoading(false);
  });

  function optimizeSize() {
    let playerObject = document.querySelector('.youtube-player-wrapper');

    if (window.innerWidth < 795) {
      playerObject.style.width = '';
      return;
    }

    let playerHeight = playerObject.clientHeight;
    let optimizedWidth = playerHeight * (16/9);
    playerObject.style.width = `${optimizedWidth}px`;
    playerObject.style.width = `${playerObject.clientWidth}px`;
  }

  function showPlayerWithUrl(title, url, videoId, bottomNote) {
    let playerIframe = document.querySelector('#youtube-player');
    playerIframe.src = url;

    let titleObject = document.querySelector('#player-container .player-title')
    titleObject.innerText = title

    let markerAreaObject = document.querySelector('#player-container .player-markers')
    let markerAreaObjectOrigin = document.querySelector(`#video-box-${videoId} .video-box__content__marker-box`)
    markerAreaObject.innerHTML = markerAreaObjectOrigin.innerHTML;

    let bottomNoteObject = document.querySelector('#player-container .player-bottom-note')
    bottomNoteObject.innerText = bottomNote
    togglePlayer(true);
  }

  function toggleLoading(isShow) {
    let loadingObject = document.querySelector('#loading');
    let opacity = 0
    if (isShow) {
      loadingObject.style.visibility = 'visible'
      opacity = 1
    }

    TweenMax.to(loadingObject, 0.3, {
      opacity: opacity,
      onComplete: function() {
        if (!isShow) {
          loadingObject.style.visibility = 'hidden'
        }
      }
    });

  }
  function hidePlayer(url) {
    let playerIframe = document.querySelector('#youtube-player');
    playerIframe.src = 'about:blank';

    let titleObject = document.querySelector('#player-container .player-title')
    titleObject.innerText = ''

    let markerAreaObject = document.querySelector('#player-container .player-markers')
    markerAreaObject.innerHTML = '';

    let bottomNoteObject = document.querySelector('#player-container .player-bottom-note')
    bottomNoteObject.innerText = ''

    togglePlayer(false);
    releaseSelectedMarker();
  }

  function togglePlayer(isShow) {
    toggleContainer('#player-container', isShow)
    if (isShow) optimizeSize();
  }

  function setSelectedMarker(markerId) {
    releaseSelectedMarker()

    let selectedMarkerObjects = document.querySelectorAll(`.marker-${markerId}`)
    selectedMarkerObjects.forEach(markerObject => {
      markerObject.classList.add('selected')
    })
  }

  function releaseSelectedMarker() {
    document.querySelectorAll('.video-box__content__marker-box__item.selected').forEach(selectedObject => {
      selectedObject.classList.remove('selected')
    })
  }

  function toggleContainer(query, isShow) {
    let containerObject = document.querySelector(query);
    let opacity = 0
    if (isShow) {
      containerObject.style.visibility = 'visible'
      containerObject.style.display = 'initial'
      opacity = 1
    }

    TweenMax.to(containerObject, 0.3, {
      opacity: opacity,
      onComplete: function() {
        if (!isShow) {
          containerObject.style.visibility = 'hidden'
          containerObject.style.display = 'none'
        }
      }
    });
  }

  function toggleInfo(isShow) {
    toggleContainer('#info-container', isShow)
  }
</script>
